body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    859px at 10% 20%,
    rgb(245, 220, 154) 0%,
    rgb(164, 78, 51) 90%
  );
  background-attachment: fixed;
}

h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 30px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding-right: 5px;
  text-align: center;
}

p {
  color: white;
  font-weight: 200;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.degree-unit {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  width: 54px;
  height: 49px;
  margin: 0 auto;
  border: none;
  color: white;
  background-color: black;
}

.degree-unit:hover {
  color: black;
  background-color: white;
  border: none;
}

#current-day-of-the-week {
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
}

#main-card {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.5);
}
#current-location-weather-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 200px;
  line-height: 0;
  color: #fcb641;
}

#icon-container {
  padding: 0 21px 0 9px;
}

.search-bar {
  max-width: 90%;
  margin: 60px auto 40px;
}

#search-details-container {
  text-align: right;
  padding: 13px 13px 0 0;
  color: gray;
}

#temperature {
  font-size: 50px;
  font-family: "Varela", sans-serif;
  padding-right: 0;
  line-height: 73px;
}

#max-temp,
#min-temp {
  font-size: 21px;
  font-weight: 200;
  line-height: 31px;
}

.humidity {
  padding-left: 0;
  text-align: right;
}

.humidity-icon {
  display: block;
  margin: auto;
  padding-bottom: 3px;
  color: #a7dce1;
}

.humidity-col {
  padding-left: 24px;
  padding-right: 0;
}

.humidity-percentage {
  font-weight: bold;
}

.humidity-container {
  line-height: 19px;
  text-align: right;
}

.future-forecast-li {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.plus-icon {
  opacity: 0.5;
  padding: 0;
  height: 49px;
}

.current-time-zone {
  font-size: 9px;
  font-weight: 500;
  color: black;
}

.mx-temperature {
  font-size: 17px;
  font-weight: 400;
  color: #f59393;
}

.mn-temperature {
  font-size: 17px;
  font-weight: 200;
  color: #6062eb;
}

.padding-0 {
  padding: 0;
}

.padding-r-0 {
  padding-right: 0;
}

.forecast-weekday {
  margin: 9px 6px;
  border-radius: 6px;
  font-variant: small-caps;
  font-size: 15px;
  background-color: #fcb641;
  color: white;
}

.forecast-date {
  font-weight: 400;
  padding-top: 12px;
}

.coded-by-footer,
.code-link {
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
}

.code-link {
  color: #fcb641;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.code-link:hover {
  color: #f59393;
}

.btn-warning {
  background-color: #fcb641;
}

.last-updated {
  font-size: 10px;
}

#unit-cont {
  margin: 32px auto;
  max-width: 700px;
}
