body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    859px at 10% 20%,
    rgb(245, 220, 154) 0%,
    rgb(164, 78, 51) 90%
  );
  background-attachment: fixed;
}

h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 26px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: right;
}

li {
  display: inline-block;
  padding-right: 5px;
}

p {
  color: white;
  font-weight: 200;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.degree-unit {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  width: 54px;
  height: 49px;
  margin: 0 auto;
  border: none;
  color: white;
  background-color: black;
}

.degree-unit:hover {
  color: black;
  background-color: white;
  border: none;
}

#current-day-of-the-week {
  font-size: 14px;
  font-variant: small-caps;
  font-weight: bold;
}

#main-card {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin: 100px auto 0px;
  max-width: 560px;
  box-shadow: 5px 4px 8px rgb(0 0 0 / 50%);
}
#current-location-weather-icon {
  line-height: 0;
  font-size: 76px;
}

#icon-container {
  text-align: center;
  line-height: 45px;
  padding-top: 20px;
}

#search-form {
  margin: 45px auto 16px;
  font-size: 15px;
}

#search-details-container {
  text-align: right;
  padding: 13px 13px 0 0;
  color: gray;
  margin-bottom: 8px;
}

#temperature,
h2 .unit-setting {
  font-size: 47px;
  font-family: "Varela", sans-serif;
  padding-right: 0;
  line-height: 73px;
}

#current-temp-range {
  font-size: 19px;
  font-weight: 200;
  line-height: 31px;
  padding-left: 8px;
}

li .humidity {
  line-height: 19px;
  text-align: right;
  display: inline-block;
}

.humidity-icon {
  color: #a7dce1;
  font-size: 22px;
  font-weight: bold;
}

footer .col {
  text-align: center;
}

.plus-icon {
  opacity: 0.5;
  padding: 0;
  font-size: 49px;
  margin: auto;
  text-align: center;
  display: block;
}

.mx-temperature {
  font-size: 17px;
  font-weight: 400;
  color: #f59393;
  text-align: center;
}

.mn-temperature {
  font-size: 17px;
  font-weight: 200;
  color: #6062eb;
  text-align: center;
}

.padding-0 {
  padding: 0;
}

.padding-8 {
  padding: 11px;
}

.padding-r-0 {
  padding-right: 0;
}

.forecast-weekday {
  margin: 9px 0;
  border-radius: 6px;
  font-variant: small-caps;
  font-size: 14px;
  background-color: gray;
  color: white;
}

.forecast-date {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.coded-by a,
.coded-by {
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
}

.coded-by a {
  font-weight: bold;
  color: #7846cf;
  font-size: 10px;
  transition: all 200ms ease-in-out;
}

.coded-by a:hover {
  color: #f59393;
}

.coded-by {
  background-color: rgba(0, 0, 0, 1);
  max-width: 129px;
  padding: 5px 16px 8px;
  border-radius: 0 0 20px 20px;
  text-align: center;
  margin: 0px 0px 0px 351px;
  font-size: 11px;
  box-shadow: 5px 4px 8px rgb(0 0 0 / 50%);
}

.by-location-button {
  border: none;
  transition: 200ms ease-in;
}

.by-location-button:hover {
  background-color: black;
  color: white;
}

#coord-button {
  font-size: 14px;
}

#last-updated {
  font-size: 10px;
}

#unit-cont {
  margin: 32px auto;
  max-width: 700px;
}

#icon-description {
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
  color: gray;
  padding-top: 0px;
  font-size: 13px;
  line-height: normal;
}

#button-addon2,
.form-control {
  font-size: 14px;
}

#current-temp-range .bi-thermometer-high {
  color: #f59393;
}

#current-temp-range .bi-thermometer-low {
  color: #6062eb;
}

#today {
  font-size: 14px;
}

#forcast-element-contents {
  text-align: center;
}

.rainy-background {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  background-attachment: fixed;
}

.snowy-background {
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  background-attachment: fixed;
}

.night-background {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-attachment: fixed;
}

.cloudy-background {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
  background-attachment: fixed;
}

.sunny-background {
  background: radial-gradient(
    859px at 10% 20%,
    rgb(245, 220, 154) 0%,
    rgb(164, 78, 51) 90%
  );
  background-attachment: fixed;
}

.credit {
  padding: 0 40px;
  margin: 0px auto 0px;
  max-width: 560px;
}
